/* ---- reglas generales ---- */

::-webkit-scrollbar {
  display: none;
}
body, html {
  height: 100%;
  margin: 0;
}
img{
  display:block;
  margin:auto;
  }
form {
    text-align: center;
  }


.bg {
    /* The image used */
    background-image: url("../imagenes/background_login.png");
  
    /* Full height */
    height: auto;
  
    width: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---- importacion f-face ---- */
@font-face {
  font-family: AbadiLight;
  src: url('../fonts/Abadi\ MT\ Condensed\ Light\ Regular.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: AbadiBold;
  src: url('../fonts/Abadi\ MT\ Condensed\ Extra\ Bold\ Regular.ttf') format('truetype');
  font-style: normal;
}


/* ---- MediaQ ---- */
@media only screen and (max-width: 767px) {
  body {
    /* The file size of this background image is 93% smaller
       to improve page load speed on mobile internet connections */
    background-image: url(../imagenes/background_login.png);
    background-position: center;
    background-size: cover;
  }
}


/* ---- nav ---- */
.font_b4a {
  font-family: AbadiLight;
  color: #7a3da7;
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.font_b4b {
  font-family: AbadiLight;
  color: #7a3da7;
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 70px;

}



/* ---- izquierda ---- */

.font_a3 {
  font-family: AbadiLight;
  color: rgb(255, 255, 255);
  font-size: 40px;

}

.font_a4 {
  font-family: AbadiLight;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  }


  .btn_a1 {

    font-family: AbadiBold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    
    
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 6px;
  
    display:block;
    margin:auto;
  
  }

  .btn_a1:hover {
    background-color: #7a3da7;
    border: 2px solid #ffffff;
    color: white;
  }



/* ---- derecha form ---- */
input:focus {
  outline:none;
}

input[type="text"],input[type="password"]{
  width: 305px;
  height: 42px;
  margin-bottom: 20px;
  font-size: medium;
  border: 1px solid #fff;
  padding-left: 45px;
  border-radius: 6px;

}

input::placeholder {
  color:#929292;
  font-family: AbadiLight;
  font-size: 22px;
}


.font_f1 {
  font-family: AbadiLight;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
  }


.icon_f2 {
  
    color:#929292;
    position: absolute;
    background: transparent;
    margin-right: 30px;
    margin-top: 1px;
    width: 30px;
    height: 25px;
    padding-top: 12px;
    padding-left: 14px;
    border-radius: 6px;
  
  }

  .icon_bf {
    color:#929292;
    position: absolute;
    background: transparent;
    padding-top: 6px;
    padding-left: 80px;
    font-size: 30px;
  }

  .btn_f4 {
    font-family: AbadiLight;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    background:  #7a3da7;
    width: 305px;
    height: 42px;
    margin-bottom: 20px;
    border: 0px solid #7a3da7;
    padding-left: 0px;
    border-radius: 6px;
  }
  .btn_f4:hover {
    background: #623186;
  }

