body, html {
  height: 100%;
  margin: 0;
}



img{
  display:block;
  margin:auto;
  }


  form {
    text-align: center;
}


.bg {
  /* The image used */
  background-image: url("../imagenes/background_login.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font_a1 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: xx-large;
  }

.font_a2 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: x-large;
  }

.font_a3 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: xx-large;
    font-weight: bold;
  }

.font_a4 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: x-large;
    font-weight: bold;
  }

  .font_b4a {
    font-family: "Abadi MT Condensed Light";
    color: #7a3da7;
    font-size: x-large;
    font-weight: bold;

    margin-top: 10px;
    
    margin-right: 0px;

  }

  .font_b4b {
    font-family: "Abadi MT Condensed Light";
    color: #7a3da7;
    font-size: x-large;
    font-weight: bold;

    margin-top: 10px;
    margin-right: 60px;



  }

.font_a5 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: small;
  }

  .font_a6 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: x-small;
  }

  .font_a6 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: xx-small;
  }

  .btn_a1 {

    font-family: "Abadi MT Condensed Light";
    font-weight: bold;
    color: rgb(255, 255, 255);
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 6px;
  
    display:block;
    margin:auto;
  
  }

  .btn_a1:hover {
    background-color: #7a3da7;
    border: 2px solid #ffffff;
    color: white;
  }



  .icon_a1 {
  
    color:#929292;
    position: absolute;
    background: transparent;
    margin-right: 30px;
    margin-top: 1px;
    width: 30px;
    height: 25px;
    padding-top: 12px;
    padding-left: 14px;
   
    border-radius: 6px;
  
  }

  input[type="text"],input[type="password"]{
    width: 305px;
    height: 42px;
    margin-bottom: 20px;
    font-size: medium;
    border: 1px solid #fff;
    padding-left: 45px;
    border-radius: 6px;

  }

  input:focus {
    outline:none;
  }



  .icon_b1 {
    color:#929292;
    position: absolute;
    background: transparent;
    padding-top: 6px;
    padding-left: 80px;
    font-size: 30px;
  }


  .btn_b1 {
    font-family: "Abadi MT Condensed Light";
    font-size: large;
    color: #ffffff;
    background:  #7a3da7;
  
    font-weight: bold;

    width: 305px;
    height: 42px;
    margin-bottom: 20px;
 
    border: 0px solid #7a3da7;
    padding-left: 0px;
    border-radius: 6px;



  }

  .btn_b1:hover {
    background: #623186;

  }


