body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("../imagenes/background_login.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font_a1 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: xx-large;
  }

.font_a2 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: x-large;
  }

.font_a3 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: large;
  }

.font_a4 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: medium;
  }

  .font_b4 {
    font-family: "Abadi MT Condensed Light";
    color: #7a3da7;
    font-size: medium;
  }

.font_a5 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: small;
  }

  .font_a6 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: x-small;
  }

  .font_a6 {
    font-family: "Abadi MT Condensed Light";
    color: rgb(255, 255, 255);
    font-size: xx-small;
  }

  .btn_a1 {

    color: rgb(255, 255, 255);
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 6px;
  }

  .btn_a1:hover {
    background-color: #7a3da7;
    border: 2px solid #ffffff;
    color: white;
  }



  .icon_a1 {
  
    color:#929292;
    position: absolute;
    background: #ffffff;
    margin-right: 18px;
    margin-top: 2px;
    width: 44px;
    height: 36px;
    padding-top: 8px;
    border: 1px solid #ffffff;
  
  }

  input[type="text"],input[type="password"]{
    width: 240px;
    height: 44px;
    margin-bottom: 20px;
    font-size: 10px;
    border: 1px solid #000;
    padding-left: 45px;

  }


  .btn_b1 {


    font-family: "Abadi MT Condensed Light";
    font-size: medium;
    color: #ffffff;
    background:  #7a3da7;
    border-radius: 6px;
  }

  .btn_b1:hover {
    background-color: #7a3da7;
    border: 2px solid #ffffff;
    color: white;
  }
